<p-table [value]="products" [scrollable]="true" scrollHeight="520px" [rows]="3">
  <ng-template pTemplate="header">
    <tr>
      <th>Tên</th>
      <th>Ảnh</th>
      <th>Giá bán</th>
      <th>Số lượng bán</th>
      <th>Số lượng còn lại</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td>
        <img
          [src]="product.image"
          [alt]="product.name"
          width="40"
          class="shadow-4"
        />
      </td>
      <td>{{ product.price | currency : "VND" }}</td>
      <td>{{ product.total_sold }} {{ product.unit }}</td>
    </tr>
  </ng-template>
</p-table>
