<div class="container-home">
  <div class="marquee-container">
    <div class="marquee">
      <span
        >🚀<span class="text">
          Hệ thống quản lý Invex đã cập nhật tính năng mới! Kiểm tra ngay trong
          trang Dashboard!</span
        >
        🚀</span
      >
    </div>
  </div>

  <div class="wrapper">
    <div
      class="title"
      style="display: flex; justify-content: center; align-items: center"
    >
      <img
        src="assets/images/logo_haft.png"
        alt=""
        style="width: 50px; height: 50px"
      />
      Invex
    </div>
    <form [formGroup]="loginForm" (submit)="login()" autocomplete="off">
      <div class="field">
        <input
          type="text"
          required
          formControlName="username"
          #username
          autocomplete="off"
          id="username"
          (input)="inputValue(username)"
        />
        <label>Username</label>
      </div>
      <div class="field">
        <input
          (input)="inputValue(password)"
          type="password"
          required
          id="password"
          #password
          formControlName="password"
          autocomplete="new-password"
        />
        <label>Password</label>
      </div>
      <div class="content">
        <div class="checkbox">
          <input
            type="checkbox"
            id="remember-me"
            formControlName="checkRemember"
          />
          <label for="remember-me">Remember me</label>
        </div>
        <div class="pass-link">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <button class="snip1547" type="submit"><span>Login</span></button>
      </div>
      <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
    </form>
  </div>
</div>

<p-toast />
<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [dismissableMask]="true"
  [closable]="true"
  [style]="{
    'min-width': '424px',
    'min-height': '122px',
    'text-align': 'center',
  }"
>
  <h4>Tài khoản hoặc mật khẩu không chính xác</h4>
</p-dialog>
