<div
  class="pt-1 pl-3 pr-3 pb-3 shadow-2 border-round-lg flex justify-content-between"
>
  <div>
    <p>{{ data.title }}</p>
    <p>{{ quantity || "Chưa có dữ liệu" | currency : "VND" }}</p>

    <i
      [class]="
        revenueBefore > 0 ? 'pi pi-arrow-circle-up' : 'pi pi-arrow-circle-down'
      "
      [style.color]="revenueBefore > 0 ? 'blue' : 'red'"
    ></i>
    <span class="text-green-500"> {{ revenueBefore | percent }} </span>
    <span> {{ selectedTime == "0" ? "Ngày hôm qua" : "Tháng trước" }}</span>
  </div>
  <div class="flex align-items-center flex-column pt-3">
    <select
      name=""
      id=""
      style="height: 30px; margin-bottom: 20px; outline: none"
      [(ngModel)]="selectedTime"
      (change)="changeType()"
    >
      <option value="0">Ngày</option>
      <option value="1">Tháng</option>
    </select>
    <i
      [class]="data.class"
      style="font-size: 20px"
      [style.color]="data.color"
    ></i>
    <a href="" class="mt-2 text-green-500" style="font-size: small">Chi tiết</a>
  </div>
</div>
